/sinch-rtc-sample-calling/build
/sinch-rtc-sample-messaging/build
/sinch-rtc-sample-pstn/build
/sinch-rtc-sample-push/build
/sinch-rtc-sample-video/build
/.idea
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
sinch-rtc-sample-calling/res/values/keys.xml
sinch-rtc-sample-video/res/values/keys.xml
